Zadanie (spójny mini‑projekt łączący rozdz. 1–6)

(Rozdz. 1 – Jupyter/IPython)
Pokaż krótką pomoc dla pd.DataFrame (pd.DataFrame?) i zmierz %timeit różnicę między sumą qty*price liczoną pętlą vs. wektoryzacją w NumPy/Pandas (bez implementacji pętli „na wieki” – krótko).

(Rozdz. 2 – NumPy)
Z sales["qty"] i sales["price"] utwórz tablicę NumPy X o kształcie (n, 2).
Użyj broadcastingu, by policzyć wektor „potencjalnego przychodu brutto” przy podwyżce cen o 10% (nie modyfikuj DataFrame).

(Rozdz. 3–4 – pandas podstawy + indeksowanie)
Dodaj kolumnę revenue = qty * price.
Wyfiltruj sprzedaże z Krakowa i produktem „espresso” oraz qty >= 2.
Posortuj wynik malejąco po revenue.

(Rozdz. 5 – agregacje)
Policz łączną liczbę sprzedanych produktów (qty.sum()).
Policz średni przychód ze wszystkich transakcji (revenue.mean()).
Policz medianę ceny (price.median()).

(Rozdz. 6 – I/O)
Zapisz przetworzone dane do sales_clean.csv (bez indeksu).
Zapisz wybór kolumn (np. date, product, revenue) do summary.json w formacie orient="records".
Wczytaj sales_clean.csv z powrotem, ustawiając parse_dates=["date"], i wypisz typy kolumn, żeby potwierdzić, że date jest datą.

In [11]:
import pandas as pd
import numpy as np

In [12]:
sales = pd.read_csv("sales.csv", parse_dates=["date"])
sales

         date      city   product  qty  price
0  2020-01-01    Kraków  espresso    2    8.0
1  2020-01-01  Warszawa     latte    1   14.0
2  2020-01-02    Kraków   herbata    3    9.5
3  2020-01-02    Gdańsk     latte    2   13.0
4  2020-01-03    Kraków  espresso    1    8.5
5  2020-01-03  Warszawa   herbata    4    9.0
6  2020-01-04    Gdańsk  espresso    3    8.0
7  2020-01-04    Kraków     latte    2    NaN
8  2020-01-05  Warszawa     latte    3   13.5
9  2020-01-05    Gdańsk   herbata    1   10.0
10 2020-01-06    Kraków  espresso    4    8.0
11 2020-01-06  Warszawa   herbata    2    NaN

In [13]:
#introspection
sales?

Type:        DataFrame
String form:
date      city   product  qty  price
           0  2020-01-01    Kraków  espresso    2    8.0
           1  20 <...>  10.0
           10 2020-01-06    Kraków  espresso    4    8.0
           11 2020-01-06  Warszawa   herbata    2    NaN
Length:      12
File:        ~/miniforge3/envs/ml/lib/python3.11/site-packages/pandas/core/frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3

In [14]:
%%timeit
#computing total revenue as price * qty using a for loop
total = 0
for row in sales.itertuples():
    q = row.qty
    p = 0 if pd.isna(row.price) else row.price
    total += q * p

338 μs ± 10.3 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [15]:
%%timeit
#computing total revenue as price * qty using a vectorization
sum_vec = (sales["price"] * sales["qty"]).sum()

104 μs ± 9.13 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [16]:
#ndarray shape(n,2) from DataFrame
X = sales[["qty", "price"]].to_numpy()
X.shape

(12, 2)

In [17]:
#broadcastig a vector [1, 1.1] over X
X_increse = X * [1, 1.1]
X_increse

array([[ 2.  ,  8.8 ],
       [ 1.  , 15.4 ],
       [ 3.  , 10.45],
       [ 2.  , 14.3 ],
       [ 1.  ,  9.35],
       [ 4.  ,  9.9 ],
       [ 3.  ,  8.8 ],
       [ 2.  ,   nan],
       [ 3.  , 14.85],
       [ 1.  , 11.  ],
       [ 4.  ,  8.8 ],
       [ 2.  ,   nan]])

In [18]:
#computing new income as price * qty using a vectorization
potential_income = np.nansum(X_increse[:,0] * X_increse[:,1])
potential_income

np.float64(259.05)

In [19]:
#adding new column to sales
sales["revenue"] = sales.qty * sales.price
sales

         date      city   product  qty  price  revenue
0  2020-01-01    Kraków  espresso    2    8.0     16.0
1  2020-01-01  Warszawa     latte    1   14.0     14.0
2  2020-01-02    Kraków   herbata    3    9.5     28.5
3  2020-01-02    Gdańsk     latte    2   13.0     26.0
4  2020-01-03    Kraków  espresso    1    8.5      8.5
5  2020-01-03  Warszawa   herbata    4    9.0     36.0
6  2020-01-04    Gdańsk  espresso    3    8.0     24.0
7  2020-01-04    Kraków     latte    2    NaN      NaN
8  2020-01-05  Warszawa     latte    3   13.5     40.5
9  2020-01-05    Gdańsk   herbata    1   10.0     10.0
10 2020-01-06    Kraków  espresso    4    8.0     32.0
11 2020-01-06  Warszawa   herbata    2    NaN      NaN

In [20]:
#filtr 2 or more espresso from Kraków 
filtered = sales[
    (sales['city'] == 'Kraków') &
    (sales['product'] == 'espresso') &
    (sales['qty'] >= 2)
]
filtered

         date    city   product  qty  price  revenue
0  2020-01-01  Kraków  espresso    2    8.0     16.0
10 2020-01-06  Kraków  espresso    4    8.0     32.0

In [21]:
#data sorted descending
filtered.revenue.sort_values(ascending=False)

10    32.0
0     16.0
Name: revenue, dtype: float64

In [22]:
#calculating the sum of poduct
total_product = sales["qty"].sum()
total_product

np.int64(28)

In [23]:
#calculating the average of revenue
arg_revenue = sales["revenue"].mean()
arg_revenue

np.float64(23.55)

In [24]:
#calculating the median of price
price_median = sales['price'].median()
price_median

np.float64(9.25)

In [25]:
#saving changing sales to csv
sales.to_csv("sales_clean.csv", index=False)

In [26]:
!cat sales_clean.csv

date,city,product,qty,price,revenue
2020-01-01,Kraków,espresso,2,8.0,16.0
2020-01-01,Warszawa,latte,1,14.0,14.0
2020-01-02,Kraków,herbata,3,9.5,28.5
2020-01-02,Gdańsk,latte,2,13.0,26.0
2020-01-03,Kraków,espresso,1,8.5,8.5
2020-01-03,Warszawa,herbata,4,9.0,36.0
2020-01-04,Gdańsk,espresso,3,8.0,24.0
2020-01-04,Kraków,latte,2,,
2020-01-05,Warszawa,latte,3,13.5,40.5
2020-01-05,Gdańsk,herbata,1,10.0,10.0
2020-01-06,Kraków,espresso,4,8.0,32.0
2020-01-06,Warszawa,herbata,2,,

In [27]:
#saving columns date, product, revenue of sales in json
sales_part = sales[["date", "product", "revenue"]]
sales_part.to_json("summary.json", orient="records")

In [28]:
!cat summary.json

[{"date":1577836800000,"product":"espresso","revenue":16.0},{"date":1577836800000,"product":"latte","revenue":14.0},{"date":1577923200000,"product":"herbata","revenue":28.5},{"date":1577923200000,"product":"latte","revenue":26.0},{"date":1578009600000,"product":"espresso","revenue":8.5},{"date":1578009600000,"product":"herbata","revenue":36.0},{"date":1578096000000,"product":"espresso","revenue":24.0},{"date":1578096000000,"product":"latte","revenue":null},{"date":1578182400000,"product":"latte","revenue":40.5},{"date":1578182400000,"product":"herbata","revenue":10.0},{"date":1578268800000,"product":"espresso","revenue":32.0},{"date":1578268800000,"product":"herbata","revenue":null}]

In [29]:
#reading csv and proving that column date is datetype type
sales_clean = pd.read_csv("sales_clean.csv", parse_dates=["date"])
sales_clean.dtypes

date       datetime64[ns]
city               object
product            object
qty                 int64
price             float64
revenue           float64
dtype: object